.collection_title {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-style: italic;
    font-family: "Roboto Condensed" sans-serif;
}
.detailImage {
    width: 100%;
    margin-bottom: 25px;
    box-sizing: border-box;
    display: block;

}
.detailImage img {
    height: auto;
    max-width: 100%;
    padding: 10px;
    margin: 10 10 10 10 ;
}
.detailImage img:hover {
transform: scale(0.95);
opacity: 0.9;
transition: all ease 1s;
cursor: pointer;
}