.html{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
::before, ::after {
    box-sizing: border-box;
}
*{
    font-weight: 400;
}
:focus {
    outline: none;
}
a:hover {
    text-decoration: none;
}
div {
    display: block;
}
body {
    font-family: "Roboto Condensed",sans-serif;
}
header {
    display: block;
}
table,th,td {
    text-align: center;
}
.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin-top: -86px ;
}
.myMenu {
    background: #343a40;
    color: white;
    border: none;
    font-size: 1.2rem;
}
    .myMenu:hover {
        transition: 1s all ease;
    }
.myItem {
    color: rgba(255,255,255,.5);
    display: block;
    width: 100%;
}

.nav-link {
    position: relative;
}
.navbar-brand img {
    max-height: 3em;
}
.cartIcon{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: left;
}
.cartNumber {
    position: absolute;
    top: calc(50% + 5px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 100%;
    color: #345372;
    text-align: center;
    font-size:15px;
}
.myItem:hover {
    transition: .5s all ease;
}
.content{
    margin-top: 86px;
}
.categoryTitle {
    margin-top: 2%;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-weight: 700;
}
.row.product {
    margin-top: 2%;
}
.productItem {
    padding: 5px;
    cursor: pointer;
}
    .productItem.img .img1 {
        display: block;
        }
    .productItem.img .img2 {
        display: none;
        }
    .productItem.img:hover .img1 {
    display: none;
        }
    .productItem.img:hover .img2 {
    display: block;
        }
.productItem.img img:hover {
    transition: ease 2s;
    opacity: 0.6;

}
.product-name{
    height: 50px;
}
.name{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}
.price {
    text-align: center;
}
/* ProductDetails Page */
.contentDetail {
padding: 5%;
}
.smallImg {
    width: 100%;
    cursor: pointer;
}
.smallImg:hover {
    opacity: 0.8;
    transform: scale(0.9);
    transition: 1s;
}
.bigImg {
    width: 100%;
}

/* Cart page */
main {
    display: block;
}
.main-content {
    min-height: 700px;
}
    .page-content {
        padding-top:60px;
        padding-bottom: 60px;
    }
    .page-width {
        padding: 0 40px;
        margin: 0 auto;
        max-width: 1300px;
    }
        .grid {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: -40px;
        }
            .grid ::after {
                content: '';
                display: table;
                clear: both;
            }
            .grid_item {
                float: left;
                padding-left: 40px;
                width: 100%;
                min-height: 1px;
            }
                .section-header {
                    margin-bottom: 60px;
                    text-align: center;
                }
                    .section-header_title {
                        margin-top: 60px;
                        margin-bottom: 0;
                        font-size: 46px;
                        font-family: "Roboto Condensed", sans-serif;
                        font-weight: 700;
                        font-style: italic;
                        letter-spacing: -0.025em;
                        line-height: 1;
                        word-break: break-word;
                        text-transform: uppercase;
                    }
                    .section-header_title h1 {
                        margin: 0 0 20px;
                        display: block;
                        margin-block-start: 0.67em;
                        margin-block-end: 0.67em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;

                    }
                .cart_row {
                    margin-bottom: 30px;
                }
                .cart_header-labels {
                    font-family: "Roboto Condensed", sans-serif;
                    font-weight: 700;
                    font-style: italic;
                    letter-spacing: -0.025em;
                    line-height: 1;
                    text-transform: uppercase;
                    border-bottom: 2px solid #000;
                    padding-bottom: 20px;
                }
                .cart_footer {
                    border-top: 2px solid #000;
                    padding-top: 20px;
                }
                    .grid-full {
                        margin-left: 0;

                    }
                        .grid-full>.grid_item {
                            padding-left: 0px;
                        }
                            .grid_item[class *="-push"] {
                                position: relative;
                            }
                            .medium-up-push-one-half {
                                left: 50%;
                            }
                            .medium-up-one-half {
                                width: 50%;
                            }
                            .medium-up-text-right {
                                text-align: right !important;
                            }
                                .one-third {
                                    width: 33.3333%;
                                }
                                .text-center {
                                    text-align: center !important;
                                }
                                .text-right {
                                    text-align: right !important;
                                }
                    .cart_row-table-large {
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                    }  
                    .cart_row-table {
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                    } 
                    .cart_row-table-large .grid_item {
                        display: table-cell;
                        vertical-align: middle;
                        float: none;
                    }
                    .cart_row-product {
                        display: flex;
                        align-items: center;
                    }
                        .cart_product-image-wrap {
                            min-width: 115px;
                            position: relative;
                            width: 15%;
                        }
                    .cart_row-content {
                        padding-left: 20px;
                    }
                    .h3 {
                        font-size: 26px;
                        margin:0 0 20px;font-family: "Roboto Condensed", sans-serif;
                        font-weight: 800;
                        font-style: italic;
                        letter-spacing: -0.025em;
                        line-height: 1;
                        word-break: break-word;
                        text-transform: uppercase;
                    }
                    .cart_note {
                        margin: 20px 0;
                        font-size: 11px;
                        opacity: 0.8;
                        display: block;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }    
                    .cart_checkout-wrapper {
                        margin-top:20px;
                    }
                    .cart_checkout-wrapper+.cart_checkout-wrapper {
                        margin-top: 40px;
                    }
                    .btnDelete {
                        display: block;
                    }
                    .btn-cart_checkout {
                        display: inline-block;
                        padding:10px 25px;
                        margin: 0;
                        width: auto;
                        min-width: 90px;
                        line-height: 1.42;
                        text-decoration: none;
                        text-align: center;
                        vertical-align: middle;
                        white-space: normal;
                        cursor: pointer;
                        border:2px solid transparent; 
                        border-radius: 10px;
                        color: #fff;
                        background: #000;
                        transition: background 0.15 ease;
                    }
                    .cart_quantity {
                        /* display: inline-block; */
                        padding: 2px;
                        text-align:center;
                        border: 0;
                        width: 40px;
                        height: 32px;
                    } 
                    .changeQuantity {
                        background:#f5f5f5;
                        border: solid 1px #f5f5f5;
                        cursor: pointer;
                        font-weight: 600;
                        font-size: 16px;
                        outline: none;
                        height: 32px;
                        width: 32px;
                        text-align: center;
                        border-radius: 0 ;
                        color: #000;
                    }       

/* categoryPages */

.banner {
height: 550px;
margin-bottom: 60px ;
position: relative;
width: 100%;
overflow: hidden;
background-color: #000;
}
    .banner .banner_img_topWear{
        background-image: url("https://cdn.shopify.com/s/files/1/1687/1083/collections/Capture_1_5_3_1512x.jpg?v=1592153011");
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .banner .banner_img_headWear{
        background-image: url("https://cdn.shopify.com/s/files/1/1687/1083/collections/Capture_1_5_3_1512x.png?v=1592153076");
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .banner .banner_img_bottomWear{
        background-image: url("https://cdn.shopify.com/s/files/1/1687/1083/collections/IMG_2517_1080x.jpg?v=1589450413");
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .banner .banner_img_outerWear{
        background-image: url("https://cdn.shopify.com/s/files/1/1687/1083/collections/27624606_867278653433917_3247973712567499722_o_1512x.png?v=1589449880");
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .banner .banner_img_accessories{
        background-image: url("https://cdn.shopify.com/s/files/1/1687/1083/collections/3_1512x.png?v=1589571162");
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .banner .banner_content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .banner .banner_content .banner_content_text {
        width: 100%;
        padding: 0 40px;
        max-width: 1300px;
        text-align: center!important;
        color: #fafafa;
        font-style: italic;
        font-weight:700;
        font-size: 46px;
    }

    /* footer */
    .social :hover {
        cursor: pointer;
    }
    .footer-link {
        font-family: 'Roboto', sans-serif;
    }
    /* aboutUs */
    .imgAboutUs {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }
    .imgAboutUs img {
        height: auto;
        max-width: 100%;
        border: none;
    }
    .aboutUsTitle {
        font-family: "Roboto Condensed", sans-serif;
    }
/* Medias */
@media (max-width:990px) {
    .myItem {
        width: 30%;
    }
}
@media (max-width:770px) {
    .productItem {
        flex: 50%;
    }
    .myItem {
        width: 40%;
    }
    .banner {
        height: 300px;
        margin-bottom: 20px ;
    } 
}
@media (max-width:550px) {
    .myItem {
        width: 50%;
    }
}
@media (max-width:435px) {
    .myItem {
        width: 55%;
    }
}
